.featured{
  height: 100vh;
}

.featured_vertical{
  width: inherit;
  height: inherit;
  background: linear-gradient( to top, #111 10%, transparent 90%);
}

.featured_horizonl{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 10%, transparent 90%);
}