.movieRow{
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 0 2%;
}

.movieRow_listArea{
  overflow-x: hidden;
  padding-left: 2%;
  cursor: pointer;
}

.movieRow_list{
  width: 1600px;
}

.movieRow_item{
  display: inline-block;
  width: 150px;
}

.movieRow_item img{
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.movieRow_item img:hover{
  transform: scale(1);
}